$color-primary: #283350;
$color-secondary: #0f1d46;
$color-tertiary: #2273f8;

$color-light-blue: #443e36;
$font-family: 'Open Sans', sans-serif;
$font-family-heading: 'Poppins', sans-serif;

$color-burger: #fff;
$width-burger-line: 18px;
$height-burger-line: 2px;
$margin-burger-line: 4px;
$radius-burger-line: 0;
$transform-y-burger-line: $margin-burger-line + $height-burger-line;

$background-color-overlay: #fff;

